@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
.mugg-scrollbar::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.mugg-scrollbar::-webkit-scrollbar-track {
    @apply rounded bg-gray-100;
}

/* Handle */
.mugg-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded bg-gray-700;
}

/* Handle on hover */
.mugg-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-900;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.unselectable {
    /* For Opera and <= IE9, we need to add unselectable="on" attribute onto each element */
    /* Check this site for more details: http://help.dottoro.com/lhwdpnva.php */
    -moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
    -webkit-user-select: none;
    -ms-user-select: none; /* From IE10 only */
    user-select: none; /* Not valid CSS yet, as of July 2012 */

    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
    user-drag: none;
}